<a href="https://colab.research.google.com/github/adityaaay/adityaaay/blob/main/Cloud_Quiz_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## CLOUD COMPUTING QUIZ 2

Installing and importing libraries

In [2]:
!pip3 install pyspark
import pyspark
from pyspark.sql.functions import when,count,col,isnan
import pyspark.sql.functions as fun
from pyspark.sql.window import Window

Collecting pyspark
  Downloading pyspark-3.2.1.tar.gz (281.4 MB)
     |████████████████████████████████| 281.4 MB 28 kB/s
Collecting py4j==0.10.9.3
  Downloading py4j-0.10.9.3-py2.py3-none-any.whl (198 kB)
     |████████████████████████████████| 198 kB 40.7 MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.2.1-py2.py3-none-any.whl size=281853642 sha256=a71442ffc329a0f6264a3e416acc74a20c1065b5f4d6e316aa0b3449e380d4fd
  Stored in directory: /root/.cache/pip/wheels/9f/f5/07/7cd8017084dce4e93e84e92efd1e1d5334db05f2e83bcef74f
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.3 pyspark-3.2.1

Creating a PySpark session for the User

In [5]:
py_spark = pyspark.sql.SparkSession.builder\
        .master('local[*]')\
        .appName('as15136_quiz2')\
        .getOrCreate()

Data Part
1. Download the data.txt from [here](https://github.com/adityaaay/miscellaneous/blob/main/data.txt)
2. The following code classifies the data into separate columns.

In [7]:
spark_df = py_spark.read.option("delimiter", " ").option("header", "false").csv('data.txt')
spark_df.head(5)

[Row(_c0='15136', _c1='Sharma', _c2='Aditya', _c3='Tandon', _c4='IN', _c5='3.6'),
 Row(_c0='15137', _c1='Doe', _c2='John', _c3='Stern', _c4='US', _c5='4'),
 Row(_c0='15138', _c1='Walker', _c2='Paul', _c3='Steinhardt', _c4='US', _c5='4'),
 Row(_c0='15139', _c1='Disel', _c2='Vin', _c3='CUSP', _c4='FA', _c5='2.6'),
 Row(_c0='15140', _c1='Rose', _c2='Lana', _c3='Courant', _c4='FA', _c5='3.2')]

In [8]:
spark_df = spark_df.withColumnRenamed("_c0","Student_ID")
spark_df = spark_df.withColumnRenamed("_c1","Last_Name")
spark_df = spark_df.withColumnRenamed("_c2","First_Name")
spark_df = spark_df.withColumnRenamed("_c3","Department_Name")
spark_df = spark_df.withColumnRenamed("_c4","Origin_Country")
spark_df = spark_df.withColumnRenamed("_c5","GPA")
spark_df.head(5)

[Row(Student_ID='15136', Last_Name='Sharma', First_Name='Aditya', Department_Name='Tandon', Origin_Country='IN', GPA='3.6'),
 Row(Student_ID='15137', Last_Name='Doe', First_Name='John', Department_Name='Stern', Origin_Country='US', GPA='4'),
 Row(Student_ID='15138', Last_Name='Walker', First_Name='Paul', Department_Name='Steinhardt', Origin_Country='US', GPA='4'),
 Row(Student_ID='15139', Last_Name='Disel', First_Name='Vin', Department_Name='CUSP', Origin_Country='FA', GPA='2.6'),
 Row(Student_ID='15140', Last_Name='Rose', First_Name='Lana', Department_Name='Courant', Origin_Country='FA', GPA='3.2')]

Part 1 : Where GPA > 3.75

In [12]:
# Filter the data of GPA > 3.75 and write to file
op1_spark = spark_df.filter(spark_df.GPA > 3.75)
op1_spark.head(5)
op1_spark.write.csv("gpa_only.csv")

Part 2 : Where GPA > 3.75 and Categorised by Country

In [13]:
op1_spark = op1_spark.select(op1_spark.Origin_Country)
op1_spark = op1_spark.withColumn('new_column', fun.lit(0))
op1_spark = op1_spark.select(op1_spark.Origin_Country,op1_spark.new_column.alias("Count"))
op1_spark = op1_spark.withColumn('Count', fun.count('*').over(Window.partitionBy(op1_spark.Origin_Country, op1_spark.Count))).distinct()
op1_spark.head(5)
op1_spark.write.csv("gpa_and_country.csv")